@model ListViewModel<Product>

@{
    ViewData["Title"] = "Каталог";
    var categories = ViewData["Types"] as IEnumerable<ProductType>;
    int currentType = (int)ViewData["CurrentType"];
    var text = currentType != 0
        ? categories
            .FirstOrDefault(g => g.TypeId == currentType)?
            .Name
        : "Все";
}

<div class="row">
    <div class="col-2">
        <div class="dropdown mt-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Product Type
            </button>
            <div class="dropdown-menu"
                 aria-labelledby="dropdownMenuLink">

                <a class="dropdown-item"
                   asp-action="Index"
                   asp-controller="Product">Все</a>
                @foreach (var item in categories)
                {
                    <a class="dropdown-item"
                   asp-action="Index"
                   asp-controller="Product"
                   asp-route-type="@item.TypeId"
                   asp-route-page="1">@item.Name</a>
                }
            </div>
        </div>
    </div>

<div class="row row-cols-1 row-cols-md-3 g-4" id="list">
    <partial name="_ListPartial" model="@Model"/>
</div>
    <pager page-current="@Model.currentPage"
           page-total="@Model.totalPages"
           action="Index"
           controller="Product"
           type-id="@currentType">
    </pager>
</div>